<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pierre.jardin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Client.PageClient" />
        <activity android:name=".Client.NewClient" />
        <activity android:name=".Client.ClientDetail" />
        <activity android:name=".Facture.FactureDetail" />
        <activity android:name=".Facture.NewFacture" />
        <activity android:name=".Chantier.ChantierDetail" />
        <activity android:name=".Employer.EmployerDetail" />
        <activity android:name=".Employer.PageEmployer" />
        <activity android:name=".Employer.NewEmployer" />
        <activity android:name=".Materiel.PageMateriel" />
        <activity android:name=".Materiel.NewMateriel" />
        <activity android:name=".Materiel.MaterielDetail" />
        <activity android:name=".Fourniture.PageFourniture" />
        <activity android:name=".Fourniture.NewFourniture" />
        <activity android:name=".Fourniture.FournitureDetail" />
        <activity android:name=".Facture.PageFacture"></activity>
    </application>

</manifest>